$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#egggif {
  display: none;
}

.popUp {
  left: 25%;
  position: absolute;
  top: 33%;
}
